@import url('https://fonts.cdnfonts.com/css/montserrat');

.first-color { 
    background: #ececec; 
}
    
.second-color { 
    background: #bee6dc; 
}

.third-color { 
    background: #385170; 
}

.fourth-color { 
    background: #142d4c;
}

body, form, .contenedor, .calculadora, .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica; 
    margin: 0; 
    min-height: 100vh; 
}

form {
    flex-direction: column;
    margin-bottom: 0;
}
h1, h2 {
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
button {
    color: #9fd3c7;
    border: none;
    border-radius: 35px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #9fd3c7;
    color: #385170;
}

input {
    background-color: #e6e6e6;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 250px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contenedor {
    flex-direction: row;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 60%;
    height: 60%;
    border-radius: 5px;
}

.calculadora {
    background-color: #F6F5F7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#error {
    color: red;
    font-weight: bold;
    display: none;
}

.info {
    color: #385170;
    font-size: medium;
    margin: 4px;
    display: none;
}

.desc {
    color: #F6F5F7;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

ul li {
    display: inline-block; 
    font-size: 18px; 
    line-height: 1.6; 
    padding: 10px;
}

@media (max-width: 1024px) {
    .contenedor {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 768px) {
    .contenedor {
        width: 90%;
        height: 90%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
}

@media (max-width: 700px) {
    .contenedor {
        flex-direction: column;
    }
    .hidratacion {
        width: 100%;
        height: 50%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

@media (max-width: 375px) and (min-width: 321px) {
    h1 {
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: 10px;
        padding-top: 10px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: 10px;
        padding-top: 10px;
    }
    .contenedor {
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
    .info{
        margin-right: 5px;
        margin-left: 5px;
    }
}

#holliday, #superficie {
    display: none;
}
